<html>
  <head>
  <title>Favorites</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/png" href="../img/login/favicon.png"/>
  <link rel="stylesheet" href="../styles/support.css">
  <link rel="stylesheet" href="../ext/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

    <script src="../ext/angular.min.js"></script>
    <script src="../js/settingsController.js"></script>
    <script src="../js/feedController.js"></script>
    <script src="../js/headerController.js"></script>
    <script src="../js/angular-hashtagify.js"></script>
    <script src="../ext/angular-animate.min.js"></script>
  <script src="../ext/angular-aria.min.js"></script>
  <script src="../ext/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../ext/angular-material.js"></script>
  </head>
  <body ng-app='app' ng-controller='SettingsController' style="background: #ececec;">
  <div ng-controller="HeaderController" ng-include="'../views/toolbar.html'">
      
  </div>
  <md-content layout="row" style="background-color: transparent;">
    <span style="width: 120px"></span>
    <div class="settings-options md-whiteframe-1dp">
      <md-list style="margin-top: -8px;">
          <md-list-item class="settings-list-item" layout="row" href="#" ng-click="showSettings()">
            <img src="../img/icons/menu-settings.svg">
            <p class="settings-item-title" style="margin-left: 10px;">General Settings</p>
          </md-list-item>
          <md-list-item class="settings-list-item-selected" layout="row" href="#" ng-click="showFav()">
            <img src="../img/icons/menu-heart-selected.svg">
            <p class="settings-selected-item-title"  style="margin-left: 10px;">Favorites</p>
          </md-list-item>
          <md-list-item class="settings-list-item" layout="row" href="#" ng-click="logout($event)">
            <img src="../img/icons/menu-logout.svg">
            <p class="settings-item-title"  style="margin-left: 10px;">Logout</p>
          </md-list-item>
        </md-list>
    </div>
    <div flex="70" layout="column">
      <div ng-controller="FeedController" class="feed" layout="row" layout-wrap>
          <div ng-repeat="feed in feeds" flex="50" ng-include="'../views/feed_card.html'">
            
          </div>
      </div>
    </div>
    
  </md-content>
  
  </body>
</html>