<!DOCTYPE HTML>
<!--
   Aesthetic by gettemplates.co
   Twitter: http://twitter.com/gettemplateco
   URL: http://gettemplates.co
   -->
<html>
   <head>
      <title>Reset Password</title>
      <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../styles/support.css">
  <link rel="stylesheet" href="../ext/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

    <script src="../ext/angular.min.js"></script>
      <script src="../js/forgotPasswordController.js"></script>

    <script src="../ext/angular-animate.min.js"></script>
  <script src="../ext/angular-aria.min.js"></script>
  <script src="../ext/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../ext/angular-material.min.js"></script>
   </head>
   <body ng-app='app' ng-controller='ForgotPasswordController' style="background-image: url('../img/login/BG.png')" layout="column">
         <div layout="row" layout-align="center center" flex>
            <form class="form-box" flex="40" layout="column" ng-submit="sendForgotPasswordRequest()">
               <div class="title-part" layout="row" layout-align="center center">
                  <img src="../img/login/Instagram_Logo.png">
               </div>
               <div class="separator"></div>
               <div class="content-part" layout="column" layout-align=" start center">
                  <p class="message-large" style="margin-top: 10px;">Reset your password</p>
                  <input placeholder="New Password" ng-model="password" required/>
                  <input placeholder="Confirm Password" ng-model="confirmPassword" required/>
                  <button >Reset Password</button>
               </form>
            </div>
         </div>
      
   </body>
</html>

<!-- 
<div class="login-page">
         <div class="form">
            <img class="logo" src="../img/login/Instagram_Logo.png">
            <div class="line"></div>
            <form class="login-form" ng-submit="login()">
               <p class="message-large">Forgot your password?</p>
               <p class="message-medium">Enter registered email address</p>
               <input type="email" placeholder="Email" ng-model="email" required/>
               <button>Forgot Password</button>
               <div class="inline">
                  <div class="right">
                     <a href="./" class="message">Sign in</a>
                  </div>
               </div>
            </form>
            </div>
         </div>
      </div>
-->